{% extends 'layout.html' %}
{% block content %}
    <div style="margin: 15px">
        <a href="{% url 'consult_add' %}" class="btn btn-primary btn-sm">添加</a>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>序号</th>
                <th>客户</th>
                <th>状态</th>
                <th>跟进日期</th>
                <th>跟进内容</th>
                <th>跟进人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for consult in all_consult %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ consult.customer }}</td>
                    <td>{{ consult.status }}</td>
                    <td>{{ consult.date }}</td>
                    <td>{{ consult.note }}</td>
                    <td>{{ consult.consultant }}</td>
                    <td>
                        <a href="{% url 'consult_edit' consult.pk %}">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}