{% extends 'layout.html' %}

{% block content %}
    <div style="margin: 15px;">
        <a href="{% url 'enrollment_add' '0' %}" class="btn btn-primary btn-sm">添加</a>
        <table class="table table-hover table-bordered">

            <thrad>
                <tr>
                    <th>序号</th>
                    <th>报名原因</th>
                    <th>期望</th>
                    <th>审核</th>
                    <th>报名日期</th>
                    <th>客户</th>
                    <th>班级</th>
                    <th>操作</th>
                </tr>
            </thrad>
            <tbody>
            {% for enrollment in all_enrollment %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ enrollment.why_us }}</td>
                    <td>{{ enrollment.your_expectation }}</td>
                    <td>{{ enrollment.contract_approved }}</td>
                    <td>{{ enrollment.enrolled_date }}</td>
                    <td>{{ enrollment.customer }}</td>
                    <td>{{ enrollment.enrolment_class }}</td>

                    <td>
                        <a href="{% url 'enrollment_edit' enrollment.pk %}"> <i class="fa fa-pencil-square-o"></i> </a>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>

{% endblock %}